.App {
  text-align: center;
}

.main {
  margin-top: 60px;
  align-items: center;
  background-color: rgb(255, 233, 233);

}

.sub1 {
  text-align: center;
  height: 200px;
  background-color: rgb(232, 248, 247);
  ;


}

.sub2 {
  text-align: center;
  min-height: 200px;
  background-color: rgb(232, 248, 247);
  ;

}


.sub3 {
  text-align: center;
  height: 200px;
  background-color: rgb(232, 248, 247);

}


/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

